
h1{
    text-align: center;
    height: 10px;
    color: white;
    font-size: 60px;
    padding-top: 80px;
}

.mid-button-style {
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: midnightblue;
    border-radius: 6px;
    outline: none;
  }